{{ partial "header" . }}
<section class="splash" id="404" data-stellar-background-ratio="1" style="background-image: url('/assets/img/raspberrypi.jpg')">
    <div class="overlay">
        <div class="container">
            <h2>Uh oh!</h2>
            <h3>Looks like we couldn't find that!</h3>
            <a class="learn-more" href="/">
                <span class="icon-arrow-down"></span> It's alright, let's go back!
            </a>
        </div>
    </div>
</section>
{{ partial "footer" . }}