<!-- Splash -->
<section class="splash" id="parallax" data-stellar-background-ratio="1" style="background-image: url('/assets/img/raspberrypi.jpg')">
    <div class="overlay">
        <div class="container">
            <h2>Hello, we're PiCymru</h2>
            <h3></h3>
            <a class="learn-more" href="#mission">
                <span class="icon-arrow-down"></span> Hey!
            </a>
        </div>
    </div>
</section>

<section class="splash" id="mission" data-stellar-background-ratio="1" style="background-image: url('/assets/img/makerbot.jpg')">
    <div class="overlay">
        <div class="container">
            <h2>Our mission is simple...</h2>
            <h3>... promote digital literacy and encourage learning and development in a fun, friendly, safe, supportive and enjoyable environment for all ages.</h3>
            <a class="learn-more" href="#how">
                <span class="icon-arrow-down"></span> How?
            </a>
        </div>
    </div>
</section>

<section class="splash" id="how" data-stellar-background-ratio="1" style="background-image: url('/assets/img/keyboard.jpg')">
    <div class="overlay">
        <div class="container">
            <h2>How?</h2>
            <h3>By supporting community projects around Wales that promote digital literacy and running events.</h3>
            <a class="learn-more" href="/about">
                <span class="icon-arrow-down"></span> So how do I get involved?
            </a>
        </div>
    </div>
</section>