{{ partial "headerSmall" . }}
    {{ partial "single/hero" . }}
    <section id="content" class="content">
        <div class="container">
            <div class="onecolumn">
                <div class="blog-item">
                    {{ if eq .Params.posttype "blog"}}<h6 class="date"><span class="icon-calendar"></span>{{ .Date.Format "2 January 2006 15:04" }}</h6>{{ end }}
                    {{ .Content }}
                </div>
            </div>
        </div>
    </section>
{{ partial "footer" . }}